

section#produtos {
    padding: 20px 0;
}

    section#produtos .container {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
.Titulo {
    position:relative;
    right:497px;

}
.produto {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .produto img {
        max-width: 100%;
        height: auto;
    }

    .produto h3 {
        margin: 10px 0;
    }

.preco {
    font-size: 1.2em;
    font-family:Verdana;
    color: #115423;
    margin: 10px 0;
}

button {
    background: #4aa863;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

    button:hover {
        background: #24783a;
    }

.LojE {
    position:relative;
    width: 1250px;
    height: 620px;
    right: 0px;
    padding: 25px;
}
.pro9 {
    width: 280px;
    height: 280px;
}
