@model PrivacyModel
@{
    ViewData["Title"] = "Nossa politica de privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>
    Nossa prioridade é garantir que seus dados pessoais estejam protegidos e que você tenha total transparência sobre como suas informações são coletadas, usadas e compartilhadas. </p>
<p>
    1. Coleta de Informações
    Ao utilizar nosso site, podemos coletar diferentes tipos de informações, incluindo:

    Dados Pessoais: Informações como nome, e-mail, endereço e telefone, que você fornece ao se cadastrar, fazer compras ou estabelecer parcerias.
    Dados de Navegação: Informações sobre sua interação com o site, como páginas visitadas, tempo de navegação, e preferências.
    Dados de Pagamento: Detalhes necessários para processar suas transações, como informações de cartão de crédito ou outros métodos de pagamento.
</p>
<p>
    2. Uso das Informações
    As informações coletadas são usadas para:

    Processamento de Compras: Garantir que suas compras sejam concluídas com segurança e eficiência.
    Comunicações: Enviar notificações sobre seus pedidos, atualizações de nossos serviços, e ofertas especiais.
    Melhoria dos Serviços: Analisar dados de uso para aprimorar a experiência do usuário e otimizar nossas ofertas de produtos e parcerias.
    Parcerias: Facilitar parcerias com empresas e indivíduos que compartilham nossos valores ecológicos.
</p>
<p>
    3. Compartilhamento de Informações
    Nós não compartilhamos seus dados pessoais com terceiros, exceto:

    Fornecedores de Serviços: Empresas que nos auxiliam em operações como processamento de pagamentos e entrega de produtos.
    Parceiros Ecológicos: Organizações com as quais você decide estabelecer uma parceria através de nosso site.
    Exigências Legais: Quando necessário para cumprir obrigações legais ou proteger nossos direitos.
</p>
<p>
    4. Segurança dos Dados
    Utilizamos medidas de segurança avançadas para proteger suas informações pessoais contra acesso não autorizado, perda ou divulgação indevida. Contudo, é importante lembrar que nenhuma transmissão de dados pela internet é 100% segura.
</p>
<p>
    5. Seus Direitos
    Você tem o direito de:

    Acessar e corrigir suas informações pessoais.
    Solicitar a exclusão de seus dados.
    Optar por não receber nossas comunicações de marketing.
</p>
<p>
    6. Alterações na Política de Privacidade
    Podemos atualizar esta política de privacidade periodicamente. Recomendamos que você revise esta página regularmente para estar ciente de quaisquer mudanças.
</p>
<p>
    7. Contato
    Se você tiver dúvidas ou preocupações sobre esta política de privacidade, entre em contato conosco através do [e-mail de contato].

    Obrigado por confiar em nós e por apoiar práticas ecológicas..
</p>
