@page
@model SobreModel
@{
    ViewData["Title"] = "Sobre nós";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sobre Nós</title>
    <link rel="stylesheet" href="/css/site.css" />
    <img class="Sobre" img src="~/img/sobre.png.png" alt="" />
</head>
<body>

    <div class="text-center">
        <h1 class="Titulo">Sobre nós</h1>
        <hr class="linha" />
        <p class="Sob2">Criado em 2022, a EcoLife tem como seu principal objetivo conscientizar toda a população de Salvador/Ba, para transfomar nossa cidade mais sustentável no uso de plásticos na capital. Nosso site oferece vários produtos biodegradáveis e ecológicos, visando a substituição de plástico em diversas aplicações diárias. Além disso, apoiamos e incentivamos a participação em petições direcionadas ao governo, buscando impulsionar mudanças significativas nos hábitos das empresas e social, em prol de um futuro mais sustentável. </p>
    </div>

</body>
</html>

<style>
    .Titulo {
        position:relative;
        font-family: Kodchasan;
        top:-300px;
        right:65px;
        color: #4e6137;
    }
    .Sob2{
        font-size: 30px;
        color: black;
        font-family: Kodchasan;
        position: relative;
        top:-260px;
        right:60px;
    }
    .linha {
        position:relative;
        width:550px;
        left:320px;
        height:550px;
        top:-300px;
        color: #798D3F;
    }

    .Sobre {
        position:relative;
        z-index:99;
        top:445px;
        width:350px;
        height:340px;
        left:1190px;
    }

</style>

